.panel .content .menu-la-lettre {
    color: #222;
    background: #FFF;
}

.la-lettre {
    margin-top: 50px;
}

.la-lettre.application {
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
}

.la-lettre .img-top {
    background: #4087c5;
}

.la-lettre .img-top img {
    width: 100%;
}

.la-lettre .bandeau {
    background: #4087c5;
    border-bottom: 2px solid #455c70;
    height: 40px;
}

.la-lettre .bandeau-content {
    height: 100%;
    line-height: 40px;
    color: #FFF;
    font-size: 17px;
}

.la-lettre .bandeau-content__left {
    padding-left: 25px;
}

.la-lettre .bandeau-content__left, .bandeau-content__right {
    display: inline-block;
}

.la-lettre .bandeau-content__right {
    text-align: right;
    margin-right: 15px;
}

.la-lettre .btn-lang, .btn-calendar {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    background: #FFF;
    padding: 8px;
}

.la-lettre .btn-lang {
    background: url('../img/picto-lang.jpg') no-repeat center;
}

.la-lettre .btn-calendar {
    background: url('../img/picto-date.jpg') no-repeat center;
}

.la-lettre .lettre-head {
    padding: 20px;
    border-bottom: 1px solid #e1ecf6;
}

.la-lettre .lettre-head .lettre-titre {
    text-transform: uppercase;
    color: #4087c5;
    font-size: 22px;
    font-weight: bold;
}

.la-lettre .lettre-head .lettre-soustitre {
    font-size: 12px;
    color: #728aa0;
}

.la-lettre .sommaire {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #e1ecf6;
    margin-bottom: 20px;
}

.la-lettre .sommaire .btn-sommaire {
    position: relative;
    border: none;
    background: #e1e2e3;
    color: #5d5d5d;
    font-size: 14px;
    padding: 10px 20px;
}

.la-lettre .sommaire .btn-sommaire::before, .sommaire .btn-sommaire::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
}

.la-lettre .sommaire .btn-sommaire::after {
    bottom: 5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #5d5d5d transparent transparent transparent;
}

.la-lettre .sommaire .btn-sommaire::before {
    display: none;
    top: 5px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #5d5d5d transparent;
}

.la-lettre .sommaire .sommaire-content {
    display: none;
    padding: 20px 0;
    color: inherit;
}

.la-lettre .sommaire.open .sommaire-content {
    display: block;
    text-align: justify;
    font-size: 13px;
    color: #2a333b;
}

.la-lettre .sommaire .sommaire-content span.titre {
    font-weight: bold;
    font-size: 13px;
    color: #4087c5;
}

.la-lettre .sommaire .sommaire-content a{
    margin-right: 5px;
    font-size: 13px;
    color: #2a333b;
}

.la-lettre .sommaire .sommaire-content a:hover, .sommaire .sommaire-content a:active{
    text-decoration: underline;
}

.la-lettre .sommaire.open .btn-sommaire::before {
    display: block;
}

.la-lettre .sommaire.open .btn-sommaire::after {
    display: none;
}

.la-lettre .articles .article-image {
    position: relative;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
    font-size: 22px;
    color: #FFF;
}

.la-lettre .articles .article-image .article-image__image img{
    width: 100%;
}

.la-lettre .articles .article-image .article-image__texte {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.la-lettre .articles .article-image .article-image__texte div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.la-lettre .articles .article {
    display: block;
    color: #000;
    padding: 20px 4.68%;
    border-bottom: 1px solid #e1ecf6;
    font-size: 15px;
}

.la-lettre .articles .article:last-child {
    border: none;
}

.la-lettre .articles .article .article-titre {
    font-weight: bold;
    color: #2a333b;
}

.la-lettre .articles .article .article-contenu {
    text-align: justify;
    margin-top: 10px;
    color: #2a333b;
}

.la-lettre .articles .article .article-contenu.hidden {
    display: none;
}

.la-lettre .articles .article .article-contenu .article-btns {
    margin-top: 15px;
}

.la-lettre .articles .article .article-contenu .article-btns .article-btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background: #4087c5;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    border: none;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
}

.la-lettre .agenda .agenda-dates {
}

.la-lettre .agenda .agenda-dates .agenda-date {
    padding: 10px 15px;
    border-bottom: 1px solid #e1ecf6;
}

.la-lettre .agenda .agenda-dates .agenda-date:last-child {
    border: none;
}

.la-lettre .agenda .agenda-dates .agenda-date .agenda-date__date, .la-lettre .agenda .agenda-dates .agenda-date .agenda-date__lieu {
    margin-bottom: 2px;
}

.la-lettre .agenda .agenda-dates .agenda-date .agenda-date__date {
    font-weight: 600;
}

.la-lettre .agenda .agenda-dates .agenda-date .agenda-date__lieu {
    color: #4087c5;
    font-weight: 600;
}

.la-lettre .agenda .agenda-dates .agenda-date .agenda-date__content {
    color: #4087c5;
}

.la-lettre .bottom {
    background: #4087c5;
    color: #a5cdf1;
}

.la-lettre .bottom .infos {
    font-size: 15px;
    padding: 5px 15px 20px 15px;
}

.la-lettre .bottom .infos .info-titre {
    font-weight: bold;
    padding: 20px 0 10px 0;
}

.la-lettre .bottom .histoire {
    border-top: 2px solid #8ebde7;
    padding: 30px 15px 15px 15px;
    font-size: 13px;
}

.popover {
    z-index: 999999;
    border-radius: 0px;
    left: 10px!important;
    right: 10px!important;
    width: auto;
    opacity: 1;
}

.lang-popover .popover-angle, .calendar-popover .popover-angle  {
    visibility: hidden;
}

.calendar-popover::after {
    width: 13px;
    height: 13px;
    top: 21px!important;
    left: 11px!important;
}

.lang-popover .popover-content .popover-content-lang__head {
    padding: 15px 30px;
    color: #4087c5;
    border-bottom: 1px solid #8ebde7;
    font-size: 18px;
    font-weight: bold;
}

.lang-popover .popover-content .popover-content-lang__content {
    padding: 10px;
}

.lang-popover .popover-content .popover-content-lang__content .btn-lang-popover {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    border: none;
    background: #4087c5;
    color: #FFF;
}

.lang-popover .popover-content .popover-content-lang__content .btn-lang-popover img {
    padding-right: 10px;
    vertical-align: bottom;
}

.lang-popover .popover-content .popover-content-lang__content .btn-lang-popover.disabled {
    opacity: 0.5;
}

.calendar-popover {
    background: #FFF;
    min-height: 300px;
}

.la-lettre .calendar-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.calendar-popover .popover-content .popover-content-calendar__head {
    padding: 15px 30px;
    color: #4087c5;
    border-bottom: 1px solid #8ebde7;
    font-size: 18px;
    font-weight: bold;
}

.calendar-popover .popover-content .popover-content-calendar__content {
    padding: 10px;
}

.calendar-popover .popover-content-calendar__content .switch-date {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #4087c5;
}

.calendar-popover .popover-content-calendar__content .switch-date a {
    color: #4087c5;
}

.calendar-popover .popover-content-calendar__content .lettres {

}

.calendar-popover .popover-content-calendar__content .lettres .lettre {
    display: block;
    padding: 10px;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre-content {
    text-align: center;
    background: #4087c5;
    padding: 20px 0;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre.disabled .lettre-content{
    opacity: 0.5;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre .lettre-content .number {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre .lettre-content .date {
    color: #FFF;
    font-size: 13px;
}

.la-lettre .webview {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
}

.la-lettre .webview.open {
    display: block;
}

.la-lettre .webview .webview-topbar {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 25px;
    text-align: right;
    padding: 5px 15px;
}

.la-lettre .webview .webview-content {
    position: absolute;
    top: 25px; left: 0; right: 0; bottom: 0;
}

.la-lettre .webview .webview-content iframe {
    width: 100%;
    height: 100%;
}

/**
div:last-child > iframe {
    border-width: 0px!important;
    z-index: 100000;
}
**/
iframe {
    background: #FFF;
}

