.settings .page-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #faf8f8;
    margin: 0;
    padding: 0;
}

.settings h1 {
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 0px inset #000;
    background: #007ac7;
    color: #f3f3f3;
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.settings h2 {
    margin: 0 0 10px 0;
    color: #3f3e3e;
}

.settings .settings-content {
    padding: 10px 15px;
    overflow-y: scroll;
}

.settings .settings-content .block-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
}

.settings .settings-content .block-buttons button, .settings .settings-content .settings-save button {
    display: inline-flex;
    margin: 3px;
    padding: 15px;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: bold;
    text-align: left;
    border: none;
    background: #4087c5;
    color: #FFF;
    text-transform: uppercase;
    width: 70%;
}

.settings .settings-content .settings-save button {
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

.settings .settings-content .settings-save {
    text-align: center;
}

.settings .settings-content .block-buttons button.active {
    opacity: 0.7;
}

.settings .settings-content .block-buttons button img {
    padding-right: 10px;
    vertical-align: bottom;
}

.settings .settings-content .settings-notifications {
    width: 100%;
    margin-top: 20px;
}

.settings .settings-content .settings-notifications .notification-text {
    display: inline-block;
    height: 34px;
    vertical-align: bottom;
    padding: 0 15px;
}

/* The switch - the box around the slider */
.settings .settings-content .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.settings .settings-content .switch input {display:none;}

/* The slider */
.settings .settings-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.settings .settings-content .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.settings .settings-content input:checked + .slider {
    background-color: #2196F3;
}

.settings .settings-content input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.settings .settings-content input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.settings .settings-content .slider.round {
    border-radius: 34px;
}

.settings .settings-content .slider.round:before {
    border-radius: 50%;
}