/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

* { box-sizing: border-box; }

.statusbar-overlay {
    background: #000000;
}

.view-main {
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;;
}

.navbar {
    height: 50px;
    border-bottom: 0px inset #000;
    background: #007ac7;
    color: #f3f3f3;
}

.navbar::after {
    background: none;
}

.navbar .navbar-inner {
    padding: 0 15px;
}

.navbar h1.center.sliding {
    text-align: center;
    font-size: large;
    line-height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}

.navbar .open-panel {
    width: 2.1em;
}

.navbar .open-panel span {
    display: block;
    background: rgba(255, 255, 255, 0.7);
    padding: 2px 0px;
    margin: 5px auto;
    border-radius: 1px;
}

.panel {
    background: #18191b;
}

.panel .panel-logo {
    width: 100%;
    height: auto;
}

.panel .content {
    min-height: 550px;
}

.panel .content a {
    display: inline-block;
    width: 100%;
    padding: 14px 10px;
    font-size: 14px;
    border-bottom: 1px solid #222;
    text-transform: uppercase;
    color: #FFF;
}

.panel .content .separator {
    padding: 2px 5px;
    background-color: #0005d0;
    color: #fff;
}

.actu .page-content,
.publications .page-content,
.evenements .page-content,
.opinions .page-content,
.elections .page-content,
.dossiers-pedagogiques .page-content,
.rs .page-content,
.librairie .page-content
{
    padding: 0;
    line-height: 1.5;
}

.rs-button {
    min-width: 100px;
    display: inline-block;
    text-decoration: none;
    background: #007ac7;
    color: #f3f3f3;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
}

.my-notif {
    display: none;
    position: absolute;
    top: 50px; left: 0;  right: 0;
    min-height: 50px;
    z-index: 2000000;
    background: #FFF;
    padding: 10px;
    word-break: break-all;
}

.lettre-bandeau {
    display: none;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 70px;
    border-top: 1px solid #e1ecf6;
    background: #FFF;
    z-index: 300000;
}

.lettre-bandeau .lettre-bandeau-content {
    padding: 10px;
    text-align: center;
    line-height: 1.2em;
}

.lettre-bandeau .lettre-bandeau-content div {
    margin-bottom: 7px;
}

.bandeau-show .actu,
.bandeau-show .publications,
.bandeau-show .evenements,
.bandeau-show .opinions,
.bandeau-show .elections,
.bandeau-show .dossiers-pedagogiques,
.bandeau-show .rs ,
.bandeau-show .librairie {
    height: calc(100% - 70px);
}